<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc-chapter4:Web exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/springmvc_chapter4_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc-chapter4/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc-chapter4" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Java EE 6-Java EE 6" />
          <element id="library" level="project" name="Libs-ch4" />
        </element>
      </element>
    </root>
  </artifact>
</component>